h1{
    text-align: center;
    color: crimson;
}

.container {
    width: 30%;
    margin: 0 auto;
    position: relative;
    border: 3px dashed greenyellow;
}

img.image {
    display: block;
    width: 100%;
    height: auto;
    opacity: .2;
}

.centered {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 25px;
}