h1{
    text-align: center;
    color: crimson;
}

.container {
    width: 30%;
    margin: 0 auto;
    height: 100px;
    border: 3px dashed greenyellow;
    /*overflow: visible;*/
    /*overflow: hidden;*/
    /*overflow: scroll;*/
    overflow: auto;
}